/* UNIVERSAL STYLE ---------------------- */

body {
    background-color: #ffffff;
    color: #303030;
    font-family: "Open-Sans", sans-serif;
    font-size: 16px;
    line-height: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

footer {
    padding: 1rem 1.5rem;
    position: relative;
    top: 4rem;
    display: flex;
    flex-direction: row;
    border-top: 1px solid #d8d8d8;
}

/* BOTH DEVICES ------------------------ */
/* Layout */

header {
    background-color: white;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 64px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

main {
    position: relative;
    top: 4rem;
}

/* Patterns */

button {
    height: 4rem;
    background-color: #303030;
    color: white;
    border: none;
    font-size: 1.2rem;
    flex-shrink: 1;
    border-radius: 2px;
}

.white {
    background-color: white;
}

.dark {
    background-color: #d8d8d8;
}

/* Text styles */

h1 {
    font-size: 2rem;
    line-height: 2rem;
}

h2 {
    font-size: 1.4rem;
    line-height: 1.4rem;
}

h3 {
    font-size: 1rem;
    color: grey;
    text-transform: uppercase;
    font-weight: lighter;
}

p {
    font-size: 1rem;
    line-height: 1.2rem;
}

.bold {
    font-weight: bold;
}

.light {
    font-weight: lighter;
}

.caption {
    font-size: 0.9rem;
    line-height: 1rem;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #303030;
    line-height: 1rem;
  }
  
ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 1rem;
  }

  .card_pic {
    width: 100%;
}

/* SECTIONS -----------------------------  */ 

/* cover */
.cover {
    width: 100%;
}
.cover .cover_image {
    background-image: url("resources/images/banner.jpg");
    background-size: cover;
    background-position: center;
    background-color: #d8d8d8;
    width: 100%;
}

.cover h1 {
    text-align: center;
    width: 60%;
}



/* Resume */ 
.resume h1 {
    text-align: center;
}

.resume {
    width: 100%;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
}

/* Work */
.work h1 {
    text-align: center;
}

.work {
    display: flex;
    flex-direction: column;
}

/* Articles */
.articles h1 {
    text-align: center;
}

.articles {
    display: flex;
    flex-direction: column;
}


/* DESKTOP ---------------------------------- */
@media only screen and (min-width: 801px) {
    .mobile {
        display: none;
    }


    /* Patterns */
    button {
        width: 20rem;
    }

    /* Header */
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #logo {
        height: 4rem;
        margin: 0 1.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-transform: uppercase;
        font-size: 1.2rem;
    }


    nav {
        height: 4rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        margin-right:1.5rem;
    }

    li {
        margin-left: 1rem;
        font-size: 1rem;
    }

    /* Footer */
    footer {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    footer .links a {
        margin-left: 1rem;
        font-size: 1rem;
    }

    /* Layout patterns */
    .left {
        width: 60%;
        padding: 2rem 1.5rem;
        flex-grow: 1;
        flex-shrink: 1;
    }

    .profile_left {
        width: 30%;
        padding: 2rem 1.5rem;
        flex-grow: 1;
        flex-shrink: 1; 
    }

    .right {
        width: 40%;
        flex-grow: 1;
        flex-shrink: 1;
    }

    .profile_right {
        width: 70%;
        flex-grow: 1;
        flex-shrink: 1;
    }

    .card_pic .pic {
        width: 35%;
        padding: 1rem;
    }

    .card_pic .description {
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .card_pic .description h2 {
        line-height: normal;
        margin: 0;
    }

    /* Sections */
    /* Cover */
    .cover h1 {
        font-size: 3rem;
        line-height: 3rem;
    }


    /* Resume */

    .resume_content {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .resume_content .featured {
        padding-top: 0;
    }

    .resume_content .featured .pic {
        width: 100%;
    }

    .resume_content .featured .pic video {
        width: 100%;
    }

    .resume_content .others .card_pic {
        padding: 0;
        display: flex;
        flex-direction: row;
    }

    .resume_content .others .card_pic img {
        width: 100%;
        height: auto;
    }

    /* Work*/

    .work { 
        background-color: #d8d8d8;
        padding: 2rem 3.5rem;
    }

    .work .case {
        width: 30%;
        background-color: white;
        flex-grow: 1;
        flex-shrink: 1;
        margin: 0 1rem;
    }

    .work .up_row,
    .work .down_row {
        display: flex;
        flex-direction: row;
    }

    .work .up_row {
        margin-bottom: 2rem;
    }

    .work .case .pic {
        width: 100%;
    }

    .work .case .pic img {
        width: 100%;
    }

    .case .description {
        padding: 0 1rem;
    }

    

    /* Articles */

    .articles { 
        background-color: #ffffff;
        padding: 2rem 3.5rem; 
    }

    .articles .case {
        width: 25%;
        background-color: white;
        flex-grow: 1;
        flex-shrink: 1;
        margin: 0 1rem;
    }

    .articles .up_row {
        display: flex;
        flex-direction: row;
    }

    .articles .up_row {
        margin-bottom: 2rem;
    }

    .articles .case .pic {
        width: 100%;
    }

    .articles .case .pic img {
        width: 100%;
    }


    /* Contact */

    .contact {
        text-align: center;
        background-color: #d8d8d8;
    }

    .contact_content {
        padding: 2rem;
    }
    
}

/* MOBILE ---------------------------------- */

@media only screen and (max-width: 800px) {
    .desktop {
        display: none;
    }

    /* Patterns */
    button {
        width: 100%;
    }

    .dark {
        background-color: white;
    }

    /* Text styles */
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        line-height: 1.6rem;
    }


    /* Header */
    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 1.5rem;
        width: 100%;
        justify-content: space-between;
    }

    /* Footer */ 
    footer {
        padding-top: 2.5rem;
    }

    footer .links {
        display: none;
    }

    /* Sections */
    /* Cover */ 
    .cover {
        flex-direction: column;
        padding-bottom: 2rem;
    }


    /* Work */
    .work {
        margin-bottom: 1.5rem;
    }

    .work .up_row,
    .work .down_row {
        display: flex;
        flex-direction: column;
    }

    .work .case {
        background-color: #d8d8d8;
        padding: 1rem 1rem 1.5rem 1rem;
    }

    .case .pic {
        display:none;
    }

    .case .description h3,
    .case .description p {
        display: none;
    }

    /* Thesis */
    .thesis .others {
        display: none;
    }

    .thesis .featured {
        width: 100%
    }

    .thesis .featured video {
        width: 100%;
    }

    .thesis .featured .description {
        display: none;
    }
}
































