/* UNIVERSAL STYLE ---------------------- */

body {
    background-color: #22223B;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 0;
    margin: 0;
    padding: 0;
}


/* Text styles */
h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    color: #E9DF8B;
    line-height: 2rem;
}

h2 {
    font-size: 1.5rem;
    line-height: 1.4rem;
    color: #fff;
}


h3 {
    font-size: 1.25rem;
    color:#fff;
}

p {
    font-size: 1rem;
    line-height: 1.2rem;
    color: #fff;
}

/* Buttons */
.button {
    height: 3rem;
    width: 6rem;
    margin-top: 2rem;
    background-color: #E9DF8B;
    color: #303030;
    border: none;
    font-size: 1rem;
    border-radius: 10px;
    transition: 100ms;
    transform: scale(1);
}

.button:hover {
    transform: scale(1.10);
}


/* HEADER SECTION */
header {
    background-color: none;
    width: 100%;
    z-index: 5;
    position: fixed;
    top: 0;
}

.logo a {
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    color: #fff;
    font-size: 2rem;
    margin: 2rem 2rem;
    padding-top: 0.5rem;
    float: left;
}

.logo:hover {
    color: #E9DF8B;
}

header ul {
    list-style: none;
    margin: 0 2rem;
    padding: 0;
    overflow: hidden;
}

header ul a {
    text-decoration: none;
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    display: block;
    padding: 3rem 2rem;
}

header ul a:hover {
    color: #E9DF8B;
}

header ul {
    clear: both;
    max-height: 0;
    transition: 0.2s ease-out;
}

main {
    position: relative;
    top: 6rem;
    margin-left: 3rem;
}

/* HERO SECTION */
.hero h1 {
    font-size: 6rem;
    line-height: 6rem;
}

.hero h2 {
    max-width: 600px;
    line-height: 2.5rem;
}

.hero i {
    font-size: 3rem;
    color: #E9DF8B;
    margin-top: 4rem;
}

.bounce {
    display: inline-block;
    position: relative;
    -moz-animation: bounce 0.5s infinite linear;
    -o-animation: bounce 0.5s infinite linear;
    -webkit-animation: bounce 0.5s infinite linear;
    animation: bounce 0.5s infinite linear;
    colr:000;
  }

@-webkit-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-moz-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-o-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-ms-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}

/*VECTOR IMAGE */
.vector-image {
    position: absolute;
    width: 1182px;
    height: 1136px;
    right: 0;
    top: 200px;
    z-index: -1;
}



/* WORK SECTION */
.work {
    margin-top: 30rem;
}

.work-row {
    display: flex;
    padding: 1rem;
}

.work-box-mobile {
    flex-basis: 40%;
    background-color:white;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0 7px 30px rgba(52, 31, 97, 0.1);
}

.work-box-mobile img {
    width: 100%;
}

.work-box-mobile h3,
.work-box-mobile p {
    color: #303030;
}

/* Articles section */
.articles {
    width: 100%;
    margin-top: 10rem;
}

.articles ul {
    list-style: none;
}

.articles li {
    margin-bottom: 3rem;
}

.articles a {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #E9DF8B;
    font-size: 1rem;
}

.articles a:hover {
    color: #E9DF8B ;
}

/* RESUME SECTION */
.resume {
    margin-top: 10rem;
    margin-bottom: 15rem;
}

.resume p,
.resume button {
    margin-left: 3rem;
}

.footer-vector {
    position: absolute;
    width: 1182px;
    height: 620px;
    right: 0;
    z-index: -1;
    margin-top: -400px;
}































